.g0rb{
--textcolor: yellowgreen;
--textcolor2: white;
--bgcolor1:  rgb(15, 15, 15);
--bgcolor2: black;
--bgcolor3: blue;
--font: silkscreen, monospace;
--font2: monospace;
}

.box:hover{
    background-color:green;
    animation: 1s linear 0s infinite running growShrink;
    /* transform:scale(1.0125, 1.0125); */
}

.box:active{
    background-color:white;
}
.box{
    width: 30%;
    height: 200px;

    border-width:5px;
    border-color: var(--textcolor);
    border-style:solid;

    color: var(--textcolor);
    font-family: var(--font);
    background: var(--bgcolor2);
    margin: 1%;

    float: left;

    /* TO CENTER TEXT */
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
    width:75%;
    height:75%;
    
}

body{
    font-family: var(--font);

    /* gradient background: */

    /* background: linear-gradient(black, greenyellow);
    background-repeat: no-repeat;
    background-attachment: fixed; */

    /* background image: */

    /* background-image: url("DSC04491.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-size:cover; */

    background-color: var(--bgcolor1);

    margin: 3%;
}

@keyframes growShrink{
    50%{transform: scale(0.99, 0.99);}
}
h1{
    /* border-bottom-style:dashed; */
    /* border-radius: 22%; */
    padding: 15px;
    /* transform: skewX(-15deg); */
    text-align:right;
    font-family: var(--font);
    letter-spacing: 75%;
    font-weight:bold;
    /* text-decoration:wavy underline; */
    color: var(--textcolor);
    background-color: var(--bgcolor2);
}

p{
    clear: both;
    border-style:groove;
    background-color: var(--bgcolor2);
    /* border-radius: 5%; */
    padding: 10px;
    border-width:medium;
    border-top-width:thick;
    border-bottom-width:thick;

    text-align:left;
    font-family: "silkscreen", monospace;
    color: var(--textcolor);
    
}
